@{
    ViewData["Title"] = "Profissionais ";
}
<main>
    <div class="parte1contato">
        <h1 class="titulo">profissionais</h1>
        
    </div>


<p>Aqui temos os contatos profissionais expecializados em cada area.</p>
