@{
    ViewData["Title"] = "Financeiro";
}

<main>
    <div class="animate-intro">
    <div class="titulo">
        <h1>
            Saúde Fisica
            </h1>
        <hr>
        <p>Sua melhor versão aqui </p>
    </div>
    <div class="titulo">
     <p>
          Ainda estamos desenvolvendo essa pagina !!!!  </p>
          </div>
    </div>
</main>