@{
    ViewData["Title"] = "Ed.Fisica";
}

<main>
    <div class="animate-intro mt-2 mb-1">
        <h1 class="tituloConteudo">A importância de cuidar da saúde física</h1>
    </div>

    <section>
        <div class="organizacao">
            <img src="~/assets_tc/fisico_tcimage.jpg" class="tamanho" alt="Fisico">
            <p class="pdinamico">A saúde física é essencial para uma vida feliz com mais disposição e longevidade. A prática de esportes pode além de te proporcionar um bem-estar com seu corpo, pode lhe gerar mais oportunidades no meio social, como grupos de práticas de esporte.</p>
        </div>
    </section>

    <section class="todoConteudo">
        <div class="organizacao">
            <p class="pdinamico2">Cuidar da saúde física é essencial para manter o corpo funcionando de forma adequada e prevenir doenças. A prática regular de exercícios físicos fortalece músculos e ossos, melhora a circulação sanguínea, aumenta a resistência e promove o equilíbrio corporal. Além disso, manter uma rotina ativa ajuda a controlar o peso, reduz o risco de problemas cardíacos e melhora a saúde mental, trazendo mais disposição e qualidade de vida.</p>
            <img src="~/assets_tc/exercicioFisico.jpg" class="tamanho2" alt="Fisico">
        </div>
    </section>

    <section>
        <h2 class="subTitulo">Serviços oferecidos:</h2>
        <div class="organizacaoCards">
            <div class="cardsServico">
                <h3>CheckList</h3>
                <p>Este serviço oferece um atendimento personalizado, guiando você na escolha dos objetivos mais adequados para o seu perfil e necessidades. Ao selecionar opções como condicionamento físico, esportes, competição, emagrecimento, hipertrofia ou reabilitação física e postural, você facilita o planejamento de um programa de exercícios específico e eficiente.</p>
                <p>Com essa orientação clara, o profissional poderá desenvolver um treino focado no que realmente importa para você, seja melhorar a performance esportiva, perder peso, ganhar massa muscular ou recuperar a mobilidade e postura. Assim, o acompanhamento se torna mais direcionado, seguro e com resultados mais rápidos e duradouros.</p>
            </div>
            <div class="cardsServico">
                <h3>Em desenvolvimento</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto unde voluptas neque adipisci explicabo tempore, reiciendis nisi velit non autem odit dignissimos quasi alias blanditiis laboriosam fuga mollitia minima facilis.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore perferendis quasi facilis alias esse perspiciatis inventore cum earum ipsam sapiente, amet ut possimus porro veritatis vitae dicta. Ipsam, et dolor!</p>
            </div>
        </div>
    </section>
</main>