@{
    ViewData["Title"] = "Mental";
}

<main>
    <div class="animate-intro">
        <h1 class="tituloServico">A importância de cuidar da saúde mental</h1>
    </div>

    <section>
        <div class="organizacao">
            <img src="~/assets_tc/mental_tcimage.jpg" class="tamanho" alt="Mental">
            <p class="pdinamico">A saúde mental é um estado de bem-estar emocional, psicológico e social que permite às
                pessoas lidar com os desafios da vida. É um direito humano fundamental e está relacionada com a forma
                como
                cada pessoa reage às exigências da vida.</p>
        </div>
    </section>

    <section class="todoConteudo">
        <div class="organizacao">
            <p class="pdinamico">O estresse, a ansiedade e a depressão afetam diretamente o bem-estar físico e
                emocional,
                reduzindo a qualidade de vida. Esses problemas podem prejudicar relacionamentos, o desempenho
                profissional e
                causar sintomas como insônia, fadiga e dores.</p>
            <img src="~/assets_tc/estresse.jpg" class="tamanho2" alt="Mental">
        </div>
    </section>

    <section>
        <div class="organizacaoCards">
            <div class="cards">
                <h3>Teste de estresse/ansiedade</h3>
                <p>Nesta interação, o participante será convidado a responder oito perguntas simples, marcando “Sim” ou “Não” para cada uma. As questões abordam sintomas comuns de estresse, ansiedade e cansaço mental, como dificuldade de concentração, alterações no sono e no apetite, irritabilidade e preocupações excessivas.</p>
                <p>O objetivo é estimular a reflexão sobre o próprio estado emocional e identificar possíveis sinais de sobrecarga psicológica que podem estar passando despercebidos no dia a dia. Essa autoavaliação não substitui um diagnóstico profissional, mas serve como um primeiro passo para promover o cuidado com a saúde mental.</p>
            </div>
            <div class="cards">
                <h3>Guia de Técnicas de Relaxamento</h3>
                <p>Nesta atividade, serão apresentadas três estratégias práticas e acessíveis para ajudar no alívio da ansiedade, no controle do estresse e na melhora da qualidade do sono:</p>
                <ol>
                    <li>Exercício de Respiração 4-7-8 – técnica rápida que acalma o sistema nervoso;</li>
                    <li>Meditação Guiada – prática de foco e relaxamento mental;</li>
                    <li>Dicas para Melhorar o Sono – hábitos saudáveis que favorecem um descanso de qualidade.</li>
                </ol>
                <p>Essas práticas podem ser incorporadas facilmente à rotina diária e são excelentes ferramentas para promover o equilíbrio emocional e o bem-estar mental.</p>
            </div>
        </div>
    </section>
</main>