@{
    ViewData["Title"] = "Financeiro";
}

<main>
    <div class="animate-intro">
    <div class="titulo">
        <h1>
          Saúde Mental
            </h1>
        <hr>
        <p>você bem aqui </p>
    </div>
    <div class="titulo">
     <p>
          Ainda estamos desenvolvendo essa pagina !!!! </p>
          </div>
          </div>
</main>