@{
    ViewData["Title"] = "Financeiro";
}

<main>
    <div class="animate-intro">
        <div class="titulo">
            <h1>
                <Area> Nutricional</Area>
            </h1>
            <hr>
            <p>Sua saudáde melhor aqui</p>
        </div>
        <div class="titulo">
            <p>
                Ainda estamos desenvolvendo essa pagina !!!!!</p>
        </div>
    </div>
</main>