@{
    ViewData["Title"] = "Nutricional";
}

<main>
    <div class="animate-intro mt-2 mb-1">
        <h1 class="tituloConteudo">A importância de cuidar da saúde nutricional</h1>
    </div>

    <section>
        <div class="organizacao">
            <img src="~/assets_tc/nutricao_tcimage.jpg" class="tamanho" alt="Nutricional">
            <p class="pdinamico">A nutrição desempenha um papel fundamental na nossa saúde e bem-estar, sendo essencial para o bom funcionamento do corpo e a prevenção de doenças. Através de uma alimentação equilibrada, fornecemos ao organismo os nutrientes necessários para o desenvolvimento, a energia, a reparação celular e a manutenção de nossas funções vitais.</p>
        </div>
    </section>

    <section class="todoConteudo">
        <div class="organizacao">
            <p class="pdinamico2">Cuidar da alimentação é fundamental para uma vida saudável e equilibrada. Uma dieta rica em nutrientes fortalece o organismo, previne doenças como obesidade e diabetes, melhora a disposição e o bem-estar mental. Hábitos alimentares saudáveis também aumentam a energia diária, melhoram o sono e reduzem o estresse, refletindo em mais qualidade de vida, autoestima e longevidade.</p>
            <img src="~/assets_tc/cuidadoAlimentar.jpg" class="tamanho2" alt="Nutricional">
        </div>
    </section>

    <section>
        <h2 class="subTitulo">Serviços oferecidos:</h2>
        <div class="organizacaoCards">
            <div class="cardsServico">
                <h3>Calculadora IMC</h3>
                <p>A calculadora de IMC (Índice de Massa Corporal) é uma ferramenta simples e eficiente que ajuda a identificar se o peso de uma pessoa está adequado em relação à sua altura. Por meio dela, é possível verificar se alguém está dentro do peso ideal, com sobrepeso ou abaixo do peso, o que serve como um alerta para possíveis riscos à saúde. Embora não substitua uma avaliação médica completa, o IMC fornece um ponto de partida importante para o cuidado com o corpo.</p>
                <p>Saber o próprio IMC é fundamental para tomar decisões conscientes sobre alimentação e prática de exercícios físicos. Quando utilizado corretamente, esse índice pode incentivar mudanças positivas no estilo de vida, promovendo a busca por uma rotina mais saudável. Assim, a calculadora de IMC se torna uma aliada importante na prevenção de doenças e na promoção da saúde e bem-estar.</p>
            </div>
            <div class="cardsServico">
                <h3>Em desenvolvimento</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto unde voluptas neque adipisci explicabo tempore, reiciendis nisi velit non autem odit dignissimos quasi alias blanditiis laboriosam fuga mollitia minima facilis.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore perferendis quasi facilis alias esse perspiciatis inventore cum earum ipsam sapiente, amet ut possimus porro veritatis vitae dicta. Ipsam, et dolor!</p>
            </div>
        </div>
    </section>
</main>